@import 'reset';

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.tituloinfo {
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.textobase {
	color: gray;
	font-size: 10px;
	font-weight: 300;
	line-height: 16px;
}

.num {
	font-size: 10px;
	font-weight: 400;
	text-align: center;
}

.azul{
	color: #00d4fc;
	}

.am {
	color: #f7df09;
}

.ana {
	color: #ff914f;
	}

.red {
	color: #fa5537;
}

header {
	height: 10%;
	
	.menu {
		background-color: white;
	    height: 100%;
	    width: 70%;
	    margin: auto;

	    img{
			width: 15%;
			margin-top: 2.5%
	    }

	    ul{
	    	list-style: none;
			display: inline-block;
		    text-align: center;
		    float:right;
		    width: 15%;
		    margin-top: 3%;

		    li{
		    	display: inline;
    			margin: 0 5%;

    			a{
    				text-decoration: none;
					color: black;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 10px;
    			}
		    }
	    }
	}

}

#seccion1 {
	background-image: url("../images/indexbanner-bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 75%; 

	.textointro{
    	width: 55%;
    	margin: auto;

    	.tituloblanco {
			color: white;
			font-size: 30px;
			font-weight: 700;
			text-align: left;		
			display: inline-block;
			margin-top: 30%;
		}

		.subtitblanco {
		    color: white;
		    font-size: 13px;
		    font-weight: 300;
		    text-align: left;
		    margin-top: 4%;
		    width: 50%;
		    line-height: 26px;
		}
	}

	aside{
		text-align: center;
		height: 32%;
		width: 75%;
		margin: auto;
		margin-top:16%;

		form{
			height: inherit;

			.botonsearch{
				background-color: #00aef3;
				text-transform: uppercase;
				color: white;
				font-weight: 400;
				font-size: 10px;
				font-family: 'Open Sans';
				border:none;
			    height: 104%;
			    padding: 0 4%;
			}

			.searchbar {
				display: inline-block;
			    width: 75%;
			    height: 100%;
			    text-align: left;
			    padding-left: 3%;
			    border:none;
			    margin-right: -5px;
			    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
			}
		}
	}
}

#seccion2 {
	height: 45%;

	div{
		height: 100%;
		width: 75%;
		margin: auto;

		article{
			display: inline-block;
			width: 20%;
			text-align: center;
			float: left;
		    margin: 10% 2.5% 0 2.5%;

		    img{
				display: inline-block;
				width: 30%;
				height: 30%;
			}

			h1{
				margin-top: 12%;
			}

			p{
				margin-top: 12%;
			}
		}
	}
}

.cabezaseccion {
	text-align: center;
	width: 75%;
	margin: auto;
}

.titulo {
	color: black;
	font-size: 30px;
	font-weight: 700;
	margin-top: 4%;
}

.subtitulo {
	color: gray;
	font-size: 13px;
	font-weight:300;
	margin-top: 4%;
}


#seccion3 {
    height: 85%;
    z-index: 1;

    div{
	    width: 60%;
	   	margin:auto;

	   	.contenedor {
			margin-top: 10%;
			display: inline-block;
			width:30%;
			float: left;

			 article{
				display: inline;
				margin-top: 15%;
			}
		}

		.derecha {
			text-align: right;

			article{
				float: right;
				
				img{
					float: right;
					width: 15%;
				}

				h1{
					display: inline-block;
					margin-right: 5%;
					margin-top: 6%;
					}

				p{
					display: inline-block;
					margin-right: 20%;
					margin-top: 5%;
				}

			}
		
		}

		.izquierda{

			article{
				float: left;

				img{
					float: left;
					width: 15%;
				}
				
				h1{
					display: inline-block;
					margin-left: 5%;
					margin-top: 6%;
				}
				
				p{
					display: inline-block;
					margin-left: 20%;
					margin-top: 5%;
				}
			}
		}

		.medio {
			margin:8% 5% 0 5%;

			img{
				width: 100%;
			}
		}
	}	
}

#seccion4 {
	background-image: url("../images/pricing-bg.jpg");
	background-repeat: no-repeat;
	background-size: auto 50%;
    background-position: top;
    height: 100%;

    .cabezaseccion{
		padding-top: 10%;
	}

	div{
		width: 60%;
		height: 47%;
		margin: auto;
		text-align: center;	
	    margin-top: 5%;
		
		.rectangulos {
			background-color: white;
			display: inline-block;
			width: 22%;
		    margin: 0 1%;
		    height: 100%;
		    text-align: center;
		    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

		    .tituloinfo {
				margin-top:40%;
				margin-bottom: 10%;
			}

			.precio {
				color:#000;
				font-size: 15px;
				font-weight: 700;
				margin-bottom: 20%;
				vertical-align: -10px;

				.grande {
					font-size: 30px;
				}
			}

			table {
			    border-collapse: collapse;
			    border-spacing: 0;
			    margin: auto;
			    border-top: 0.5px solid rgba(0,0,0,0.1);
			    width: 60%;

			    tr{
			    	.textobase {
						text-align: left;
					}

			    	td{
			    		padding: 10% 7% 0 0;
			    	}
			    }
			}

			.botonpaquetes{
				background-color: #00aef3;
				text-transform: uppercase;
				color: white;
				font-weight: 400;
				font-size: 10px;
				font-family: 'Open Sans';
				border:none;
				padding: 5px 30px;
			    border-radius: 2px;
			    margin-top: 15%;
			}
		}
	}
}

footer {
	background-color: #142e3f;
	text-align: center;
	height: 40%;

	article{
		width:50%;
		height: 75%;
		margin: auto;

		.titulofooter {
			color: white;
			font-size: 25px;
			font-weight: 300;
			text-align: center;
			padding-top: 15%;

			#costumers {
				color: #00adf8;
				font-size: 25px;
				font-weight: 700;
			}
		}
	}
}

.footermenor {
	background-color: #091722;
	height: 25%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h6{
		float: left;
		margin-left: 20%;
		color: white;
		font-weight: 300;
		font-size: 10px;
	}

	nav {
		margin-right: 20%;
				
		ul {
			list-style: none;

			li{
				display: inline;

				a{
					text-decoration: none;
					color: white;
					font-weight: 300;
					font-size: 10px;
					margin: 0 10px;
				}

				.ion-chevron-up {
					color: white;
					font-size: 12px;
				}
			}
		}
	}
}

#seccioncontacto1{
	background-image: url("../images/indexbanner-bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 50%;

	article{
		width: 40%;
		margin: auto;
		text-align: center;

		h1{
			padding-top: 25%;
		}

		.wht{
			color: white;
			line-height: 20px;
		}
	}
}

#seccioncontacto2{
	height: 65%;
	background-color: white;

	article{
		height: 20%;
		width: 40%;
		margin: auto;
		text-align: center;

		h1{
			margin-top: 20%;
		}
	}

	div{
		width: 70%;
		height: 50%;
		margin: auto;

		form{
			height: 70%;

			div{
				height: 100%;
				width: 45%;
				margin: 0 2%;
				display: inline-block;

				input{
					border-radius: 3px;
					border: 1px solid rgba(0,0,0,0.1);
					display: inline-block;
					width: 100%;
					height: 25%;
					padding-left: 5%;
					margin-top: 2%;
				}

				textarea{
					width: 100%;
					height:90%;
				    display: inline-block;
				    position: relative;
				    top: 12%;
				    margin: 0 0 0 0;
				    border-radius: 3px;
					border: 1px solid rgba(0,0,0,0.1);
				}
			}

			.submit{
				display: block;
				background-color:#00aef3; 
				text-transform: uppercase;
				padding: 10px 60px;
				font-weight: 400;
				font-size: 10px;
				font-family: 'Open Sans';
				color: white;
				position: relative;
				top: 10%;
				margin: auto;
				border:none;
				border-radius: 3px;

			}
		}
	}
}

@media screen and (max-width: 992px) and (min-width: 769px){
	
header{
	
	.menu {
	    height: 100%;
	    width: 70%;
	    margin:0;

	    img{
			width: 20%;
		}

    	ul {
			width: 20%;
		}
	}
}

#seccion1{

	.textointro{
	    width: 90%;

	    .tituloblanco {
			margin-top: 25%;
			}
		
		.subtitblanco {
			font-size: 15px;
			margin-top: 2%;
		  	width: 50%;
		}
	}

	aside{
		text-align: center;
		height: 32%;
	    width: 100%;
	    margin: auto;
		margin-top:22%;

		form{
			height: inherit;
		}
	}
}	
	

#seccion2 {
	height: 80%;

	div{
		height: 100%;
		width: 75%;
		
		article{
			width: 40%;
			float: none;
	    	margin: 10% 2% 0 2%;
		}
	}
}

#seccion3 {
	height: 100%;

	div{
    	width: 90%;

    	.contenedor {
			display: inline-block;
			width:30%;
			float: left;
			
			article{
				display: inline;
				margin-top: 15%;
			}
		}
	}
}


#seccion4 {
	background-size: auto 25%;
    height: 150%;

    .cabezaseccion{
		padding-top: 12%;
	}

	div{
		width: 100%;
		height: 50%;

		.rectangulos {
			width: 40%;
		    height: 70%;
		    margin-top: 3%;

		    .tituloinfo {
				margin-top:15%;
			}

			.precio {
				margin-bottom: 10%;
			}

			table {
				tr{
					td{
						padding: 8% 7% 0 0;
					}
				}
			}

			.botonpaquetes{
				padding: 10px 140px;
	    		margin-top: 10%;
			}
		}
	}
}

footer {
	height: 40%;
	position: relative;
	top:20%;

	article{
		width:100%;

		.titulofooter {
			padding-top: 10%;
		}
	}

	.footermenor {
		height: 40%;
		display: block;

		h6{
			float: none;
			margin-left: 0;
			display: inline-block;
			margin-top: 30px;
		}

		nav {
			margin-right: 0%;
			margin-top: 2%;

			.ion-chevron-up {
				display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 501px){
header{
	height: 20%;

	.menu {
	    height: 100%;
	    width: 20%;
	    margin: auto;
    	text-align: center;

	    img{
			width: 100%;
			display: inline-block;
			margin-top: 10px;
		}

    	ul {
			float:none;
    		width: 100%;

    		li {
				display: block;
	    		margin: 20px 0;

	    		a{
					font-size: 12px;
				}
			}
		}
	}
}

#seccion1{
	background-image: none;
	height: 10%; 

	.textointro{
	    display: none;
	}

	aside{
		height: 100%;
	    width: 90%;
	    margin: auto;
		margin-top:0;
	}
}	

#seccion2 {
	height: 75%;

	div{
		height: 100%;
		width: 75%;
		
		article{
			width: 40%;
			float: none;
	    	margin: 10% 2% 0 2%;
		}
	}
}

#seccion3 {
	height: 170%;

	div{
    	width: 70%;
    	height: 90%;

    	.contenedor {
			display: inline-block;
			width:100%;
			float: none;
		}
		
		.derecha {
			text-align: left;

			article{
				float: left;
				margin-top: 10px;
				
				img{
					float: left;
					width: 10%;
				}

				h1{
					margin-left: 5%;
					margin-top:5%;
				}

				p{
					margin-left: 15%;
					margin-top: 2%;
				}
			}
		}

		.izquierda{
			article{
				margin-top:10px;

				img{
					width: 10%;
				}

				h1{
					margin-top: 5%;
				}

				p{
					margin-left: 5%;
					margin-top: 2%;
				}
			}
		}

		.medio {
			margin:auto;
			text-align: center;

			img{
				width: 50%;
			}
		}
	}
}

#seccion4 {
	background-size: auto 20%;
    height: 150%;

    .cabezaseccion{
		padding-top: 12%;
	}

	div{
		width: 100%;
		height: 45%;

		.rectangulos {
			width: 40%;
		    height: 70%;
		    margin-top: 3%;

		    .tituloinfo {
				margin-top:15%;
			}

			.precio {
				margin-bottom: 10%;
			}

			table {
				tr{
					td{
						padding: 8% 7% 0 0;
					}
				}
			}

			.botonpaquetes{
				padding: 10px 100px;
	    		margin-top: 10%;
			}
		}
	}
}

footer {
	height: 40%;
	position: relative;
	top:20%;

	article{
		width:100%;

		.titulofooter {
			padding-top: 10%;
		}
	}

	.footermenor {
		height: 40%;
		display: block;

		h6{
			float: none;
			margin-left: 0;
			display: inline-block;
			margin-top: 30px;
		}

		nav {
			margin-right: 0%;
			margin-top: 2%;

			.ion-chevron-up {
				display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 500px){

header{
	height: 20%;

	.menu {
	    height: 100%;
	    width: 20%;
	    margin: auto;
    	text-align: center;

	    img{
			width: 100%;
			display: inline-block;
			margin-top: 10px;
		}

    	ul {
			float:none;
    		width: 100%;

    		li {
				display: block;
	    		margin: 20px 0;

	    		a{
					font-size: 12px;
				}
			}
		}
	}
}

#seccion1{
	background-image: none;
	height: 10%; 

	.textointro{
	    display: none;
	}

	aside{
		height: 100%;
	    width: 90%;
	    margin: auto;
		margin-top:0;
	}
}	

#seccion2 {
	height: 130%;

	div{
		height: 100%;
		width: 75%;
		
		article{
			width: 100%;
			float: none;
	    	margin: 10% 0% 0 0%;

	    	h1 {
		    	margin-top: 8%;
			}

			p {
		    	margin-top: 5%;
			}
		}
	}
}

#seccion3 {
	height: 170%;

	div{
    	width: 90%;
    	height: 90%;

    	.contenedor {
			display: inline-block;
			width:100%;
			float: none;
		}
		
		.derecha {
			text-align: left;

			article{
				float: left;
				margin-top: 10px;
				
				img{
					float: left;
					width: 10%;
				}

				h1{
					margin-left: 5%;
					margin-top:5%;
				}

				p{
					margin-left: 15%;
					margin-top: 2%;
				}
			}
		}

		.izquierda{
			article{
				margin-top:10px;

				img{
					width: 10%;
				}

				h1{
					margin-top: 5%;
				}

				p{
					margin-left: 5%;
					margin-top: 2%;
				}
			}
		}

		.medio {
			margin:auto;
			text-align: center;

			img{
				width: 50%;
			}
		}
	}
}

#seccion4 {
	background-size: auto 25%;
    height: 100%;

    .cabezaseccion{
		padding-top: 12%;
	}

	div{
		width: 100%;
		height: 60%;

		.rectangulos {
			width: 40%;
		    height: 70%;
		    margin-top: 3%;

		    .tituloinfo {
				margin-top:15%;
			}

			.precio {
				margin-bottom: 10%;
			}

			table {
				tr{
					td{
						padding: 8% 7% 0 0;
					}
				}
			}

			.botonpaquetes{
				padding: 10px 60px;
	    		margin-top: 10%;
			}
		}
	}
}

footer {
	height: 40%;
	position: relative;
	top:20%;

	article{
		width:100%;

		.titulofooter {
			padding-top: 15%;
		}
	}

	.footermenor {
		height: 40%;
		display: block;

		h6{
			float: none;
			margin-left: 0;
			display: inline-block;
			margin-top: 30px;
		}

		nav {
			margin-right: 0%;
			margin-top: 2%;

			.ion-chevron-up {
				display: none;
				}
			}
		}
	}
}